USDA_API_KEY=your_usda_api_key
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=your_cognito_user_pool_id
COGNITO_APP_CLIENT_ID=your_cognito_app_client_id
COGNITO_JWKS_URL=https://cognito-idp.us-east-1.amazonaws.com/your_cognito_user_pool_id/.well-known/jwks.json
DDB_PROFILES_TABLE=kcalapp_profiles
DDB_DAILY_LOGS_TABLE=kcalapp_daily_logs
